@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body{
  text-align: center;
  padding: 4vw 10vw;
  background-color: #f0efeb;
;
}


h1{
  font-family: 'Poppins', sans-serif;
  color: #1d3557;
  font-weight: 600;

}

p{
  font-weight: 400;
  color: #e63946;
}

.btn{
  margin: .5vw;
  padding: 2vh, 2.5vh;
  background-color: #457b9d;
  border: none;
}

.btn:hover, .btn:active{
  background-color: #325971 !important;
}

form{
  font-family: 'Poppins', sans-serif;
  color: #1d3557;
  font-weight: 400;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 2px 2px 10px #CAC7B9;
  margin-bottom: 2vh;
}

form .btn{
  font-size: 20px;
}

.state-title{
  font-family: 'Poppins', sans-serif;
  color: #1d3557;
  font-weight: 600;
}

.lil-note, .a-note{
  font-family: 'Poppins', sans-serif;
  color: #1d3557;
  font-weight: 400;
}

.container{
  font-family: 'Poppins', sans-serif;
  color: #1d3557;
  font-weight: 400;
}

#clipboard-btn, #email-btn{
  color: white;
  padding: 2vh;
}

#generate-anchor{
  height: 25px;
}

.see-rest{
  font-size: 25px;
  background-color: #e63946;
  weight: 600 !important;
}
