@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body{
  text-align: center;
  padding: 4vw;
  background-color: #f0efeb;
  font-family: 'Poppins', sans-serif;
}

.desc {
    padding: 0vw 5vw;
}

h1{
  font-family: 'Poppins', sans-serif;
  color: #1d3557;
  font-weight: 600;

}

p{
  font-weight: 400;
  color: #e63946;
}

.btn{
  margin: .5vw;
  padding: 2vh, 2.5vh;
  background-color: #457b9d;
  border: none;
}

.btn:hover, .btn:active{
  background-color: #325971 !important;
}

form{
  font-family: 'Poppins', sans-serif;
  color: #1d3557;
  font-weight: 400;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 2px 2px 10px #CAC7B9;
  margin-bottom: 2vh;
}

form .btn{
  font-size: 20px;
}

.state-title{
  font-family: 'Poppins', sans-serif;
  color: #1d3557;
  font-weight: 600;
}

.lil-note, .a-note{
  font-family: 'Poppins', sans-serif;
  color: #1d3557;
  font-weight: 400;
}

.container{
  font-family: 'Poppins', sans-serif;
  color: #1d3557;
  font-weight: 400;
}

#clipboard-btn, #email-btn{
  color: white;
  padding: 2vh;
}

#generate-anchor{
  height: 25px;
}

.see-rest{
  font-size: 25px;
  background-color: #e63946;
  weight: 600 !important;
}

@media only screen and (max-width: 1000px) {
  /* For mobile phones: */
  h1 {
      
      font-style: bold;
  /*    font-size: 420%;*/
      font-size: 9.4vw !important;
      
  }

  h4 {
      font-size: 6vw !important;
      
  }

  p {
      font-size: 3vw !important;
  }
  
  .btn {
      font-size: 3vw !important;
/*      width: 70vw !important;*/
      margin: 4px;
      color: white !important;
/*      font-family: 'Roboto Mono', monospace;*/
      font-style: bold;
      font-size: 1vw;
      padding: 7px;
      padding-left: 10px;
      padding-right: 10px;
  /*    font-weight: 700;*/
  }
  
  #email-btn {
      padding: 10px !important;
  }
  
  #clipboard-btn {
      padding: 10px !important;
  }
  
  p {
/*    margin: 0% 5% 0% 5% !important;*/
    white-space: pre-wrap !important;

  }
  
  .small {
      font-size: 2vw;
  }
  
  .form-row {
      
      font-style: bold;
      font-size: 4vw !important;
      padding: 7px;
  /*    font-weight: 700;*/
  }
  
  .form-control {
      height: 3vh;
  }
  
  #state {
      height: 3vh;
  }
  
  .card-header {
      font-size: 3vw !important;
  }
  
  .card h5 {
      font-size: 4vw !important;
  }
  
  .card button {
      font-size: 3vw !important;
  }
  input {
      font-size: 3vw;
  }
  #note {
      font-size: 1.5vw !important;
      
  }
  .a-note {
      font-size: 1.5vw !important;
  }
  .desc {
      padding: 0vw;
  }
}


